@import "tailwindcss";

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@media print {
  body {
    background: white !important;
    color: black !important;
  }
  nav, footer, .print\:hidden {
    display: none !important;
  }
}
